<table class="table table-light table-bordered ">
	<thead class = "thead-light">
		<tr>
			<th scope="col">First name</th>
      		<th scope="col">Second name</th>
      		<th scope="col">Email</th>
      		<th scope ="col">Phone</th>
      		<th scope="col">twitter</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= friend.first_name%></td>
			<td><%= friend.last_name%></td>
			<td><%= friend.email%></td>
			<td><%= friend.phone%></td>
			<td><%= friend.twitter%></td>
		</tr>
	</tbody>
</table>










